name: Bygg og push docker image

on:
  workflow_call:
    inputs:
      java-version:
        required: false
        type: string
        description: Java version to build with
        default: '21'
      image-tag:
        required: false
        type: string
        description: Docker image tag
        default: 'latest'
      gradle-task:
        required: false
        type: string
        description: Gradle task to run
        default: 'build shadowJar'
      dockerfile:
        type: string
        description: Path to the Dockerfile.
    outputs:
      image:
        description: Google Artifact Registery image
        value: ${{ jobs.build-push-image.outputs.image }}

jobs:
  build-push-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ inputs.java-version }}

      - name: Build and test application
        uses: gradle/actions/setup-gradle@v4
        env: # Eksluder test dependencies
          DEPENDENCY_GRAPH_INCLUDE_CONFIGURATIONS: compileClasspath|runtimeClasspath
        with:
          dependency-graph: generate-and-submit
      - run: ./gradlew ${{ inputs.gradle-task }}

      - name: Build Docker Image
        uses: docker/setup-buildx-action@v3

      - name: Push Docker Image to GAR
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: okonomi
          tag: ${{ inputs.image-tag }}
          dockerfile: ${{ inputs.dockerfile }}
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}