name: PR bygg og test

on:
  workflow_call:
    inputs:
      java-version:
        required: false
        type: string
        description: JDK version
        default: '21'
      mvn-task:
        required: false
        type: string
        description: Maven task to run
        default: 'clean verify'

jobs:
  build-pr:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ inputs.java-version }}

      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build with Maven
        run: mvn ${{ inputs.mvn-task }}