name: Deploy alert

on:
  workflow_call:
    inputs:
      cluster:
        required: true
        type: string
        description: NAIS cluster to deploy to
      resource:
        required: true
        type: string
        description: NAIS resource to use for deployment
      vars:
        required: false
        type: string
        description: File with template variable for $resource file

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Deploy to Environment
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: ${{ inputs.cluster }}
          RESOURCE: ${{ inputs.resource }}
          VARS: ${{ inputs.vars }}
          TIMEOUT: 10m
          PRINT_PAYLOAD: true
